/* peatio exchange site vars
-------------------------------------------------------------- */

$gutter: 2px;
$min-width: 1180px;
$min-height: 620px;

$navbar-height: $navbar-height + 1px;
$panel_table_header_high: 37px;
$gutter-2x: $gutter * 2;
$gutter-3x: $gutter * 3;
$gutter-4x: $gutter * 4;
$gutter-5x: $gutter * 5;
$gutter-6x: $gutter * 6;

$entry-width: 242px;
$entry-height: 196px;

$order-book-width: $entry-width * 2;
$order-book-height: $min-height - $navbar-height - $gutter;

$market-list-width: 280px;
$market-list-height: $entry-height * 2;

$market-trades-width: $market-list-width;
$market-trades-height: $min-height - $navbar-height - $market-list-height - $gutter-3x;

$new-entry-width: ($min-width - $order-book-width - $market-list-width - $gutter-4x) / 2;
$new-entry-height: $entry-height;

$ticker-width: $new-entry-width * 2;
$ticker-height: 55px;

$depths-width: $new-entry-width * 2;
$depths-height: 0px;

$my-orders-width: $new-entry-width * 2;
$my-orders-height: 92px;

$candlestick-width: $new-entry-width * 2 - 20;
$candlestick-height: $min-height - $navbar-height - $new-entry-height - $ticker-height - $my-orders-height - $depths-height - $gutter-6x  ;
