
#my_orders{
  z-index: 998;
}

#ask_entry, #bid_entry {
  z-index: 998;
}

#my_orders_wrapper .dropdown-wrapper{
  z-index:999;
}

#order_book{
  z-index: 1000;
}

* {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}