
#my_orders{
  z-index: 998;
}

#ask_entry, #bid_entry {
  z-index: 998;
}

#my_orders_wrapper .dropdown-wrapper{
  z-index:999;
}

#order_book{
  z-index: 1000;
}

* {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}


header{
  .navbar {
    height: 60px;
  }
  
  a.navbar-brand{
      font-size: 30pt;
      // color: #000;
      span{
        // color: black;
        font-weight: bold;
      }
  }
  
  div.market_name {
    float: left; 
    margin-right: 35px;
    // color: grey;
    span{
        font-size:24px;
        font-weight: bold;
    }
    a {
      font-size: 16px;
      font-weight: bold;
      // color: grey !important;
      text-decoration: none;
    }
  }
  
  .nav {
    li {
      margin-right:15px;
      line-height:1.2;
      text-align:center;
      h4{
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .navbar-right li a{
    padding-left:0px;
    padding-right:0px;
  }
  
}

.navbar-default .navbar-nav > li > a {
  // color: black !important;
}

#account_summary > a{
  padding-top: 0px;
  padding-bottom: 0px;
}
